     table, th, td {　　　 
        border: 1px solid #006400;　　　 
        border-spacing: 0px;
      }
      a:link {
        color: #208820;
        text-decoration: underline;
      }
      a:visited {
        color: #208820;
      }
      a:hover {
        color: #006000;
      }
      h1 {
        color: #208820;
           font-size: 80px;
      }

       nav ul {      
            list-style-type: none;       
            background-color: #208820:      
            border: 4px solid #111111;      
            border-radious: 10px;      
            font-family: comic sans MS;      
            font-weight: bold;      
            padding: 16px;      
       }
       nav ul li {
            display: inline;     
       }


